@import "variables", "mixins";
//1200
@media (max-width: 1200px) {
  //contacts
  .contacts__icon {
    width: 50px;
    height: 50px;
    margin-right: 15px;
  }
  .contacts__item-title {
    margin-bottom: 10px;
  }
  .contacts__requisite {
    font-size: 2rem;
  }
}
//992
@media (max-width: 992px) {
  html {
    font-size: 9px;
  }
  .section__title {
    margin-bottom: 20px;
  }
  .section__subtitle {
    margin-bottom: 60px;
  }
  .services,
  .channel,
  .blog,
  .contacts {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  //header
  .header__navigation {
    margin-bottom: 200px;
  }
  .header {
    padding-bottom: 200px;
  }
  //services
  .services {
    background-position: 0 0;
  }
  .services__bg {
    display: none;
  }
  .services__subtitle {
    margin-bottom: 50px;
  }
  .services__button {
    width: 120px;
    padding-bottom: 20px;
  }
  .services__icon {
    height: 80px;
  }
  .services__item_left {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  .services__h3 {
    margin-bottom: 10px;
  }
  //gallery
  .gallery__slide {
    height: 580px;
  }
  .gallery__slide_inner {
    padding: 15px 40px;
    max-width: 970px;
    bottom: 30px;
  }
  //contacts
  .contacts__icon {
    width: 40px;
    height: 40px;
    margin-right: 12px;
  }
}
//768
@media (max-width: 768px) {
  html {
    font-size: 8px;
  }
  .section__title {
    margin-bottom: 15px;
  }
  .section__subtitle {
    margin-bottom: 50px;
  }
  .services,
  .channel,
  .blog,
  .contacts,
  .footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  //header
  .header__link {
    margin-left: 20px;
  }
  .menu__btn {
    display: flex;
  }
  .header__title {
    font-size: 5.4rem;
  }
  .nav {
    display: none;
  }
  .header__navigation {
    margin-bottom: 170px;
  }
  .header {
    padding-bottom: 170px;
  }
  //services
  .services__subtitle {
    margin-bottom: 40px;
  }
  .services__button {
    width: 95px;
    padding-bottom: 15px;
    margin-left: 7px;
    margin-right: 7px;
  }
  .services__btn_text {
    font-size: 1.6rem;
  }
  .services__items {
    margin-top: 45px;
  }
  .services__icon {
    height: 60px;
    svg {
      width: 30px;
      height: 28px;
    }
  }
  .services__img {
    width: 90%;
    height: 350px;
  }
  //gallery
  .gallery__slide {
    height: 500px;
  }
  .gallery__slide_inner {
    padding: 10px 20px;
    max-width: 970px;
    bottom: 20px;
  }
  .slide__left {
    padding: 0 5px;
  }
  .slide__right {
    padding: 0 5px;
  }
  .gallery__h3 {
    font-size: 3rem;
  }
  .gallery__icon {
    margin: 10px auto 0;
  }
  //channel
  .channel__video {
    margin: 0px auto 30px;
  }
  //blog
  .blog__buttons {
    margin-bottom: 40px;
  }
  .blog__img {
    height: 280px;
  }
  .blog_see-more {
    margin: 20px auto 0;
  }
  .blog__btn {
    @include marginLR(20px);
  }
  //contacts
  .contacts__item-title {
    margin-bottom: 6px;
  }
  .contacts__item:not(:last-child) {
    margin-bottom: 30px;
  }
  .contacts__item {
    justify-content: start;
  }
  //footer
  .footer__menu {
    margin-bottom: 35px;
    a {
      @include marginLR(10px);
    }
  }
}
//576
@media (max-width: 576px) {
  .section__title {
    margin-bottom: 10px;
  }
  .section__subtitle {
    margin-bottom: 40px;
  }
  .services,
  .channel,
  .blog,
  .contacts {
    padding-top: 30px;
    padding-bottom: 40px;
  }
  //header
  .header {
    padding-bottom: 80px;
  }
  .header__navigation {
    margin-bottom: 120px;
  }
  .header__buttons {
    flex-direction: column;
  }
  .header__title {
    font-size: 4.4rem;
    margin-bottom: 5px;
  }
  .header__subtitle {
    margin-bottom: 30px;
  }
  .header__btn {
    margin: auto;
    &:first-child {
      margin-bottom: 20px;
    }
  }
  //services
  .services__subtitle {
    margin-bottom: 30px;
  }
  .services__img {
    height: 250px;
    box-shadow: 15px 15px 0 #e8be7b;
  }
  .services__button {
    margin: 0 5px 14px;
    padding-bottom: 10px;
  }
  .services__items {
    margin-top: 15px;
  }
  .services__icon {
    height: 55px;
    svg {
      width: 26px;
      height: 25px;
    }
  }
  .services__text {
    margin-bottom: 15px;
  }
  //gallery
  .gallery__slide {
    height: 400px;
  }
  .gallery__slide_inner {
    padding: 10px 0;
    bottom: 15px;
  }
  .gallery__h3 {
    font-size: 2.2rem;
  }
  .gallery__text {
    font-size: 1.4rem;
  }
  .gallery__icon {
    margin: 5px auto 0;
    width: 15px;
    height: 16px;
  }
  :root {
    --swiper-navigation-size: 35px !important;
  }
  //channel
  .channel__video {
    max-width: 400px;
    iframe {
      height: 230px !important;
    }
  }
  //blog
  .blog__buttons {
    margin-bottom: 30px;
  }
  .blog__btn {
    @include marginLR(10px);
  }
  .blog__img {
    height: 240px;
  }
  //footer
  .footer {
    @include paddingsTB(30px);
  }
  .footer__menu {
    margin-bottom: 15px;
    a {
      @include marginLR(8px);
    }
  }
  .footer__links {
    flex-direction: column;
    align-items: center;
  }
  .footer__link:not(:last-of-type) {
    margin-bottom: 15px;
  }
  .footer__btn {
    top: 50%;
    transform: translateY(-50%);
  }
}

//480
@media (max-width: 480px) {
  //header
  .header__contacts {
    flex-direction: column;
    svg {
      width: 14px;
    }
  }
  .header__phone {
    margin-bottom: 5px;
  }
  .header__link:first-child {
    margin-left: 5px;
  }
  .header__top {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  //services
  .services__img {
    height: 220px;
    box-shadow: 10px 10px 0 #e8be7b;
  }
  //gallery
  .gallery__slide {
    height: 280px;
  }
  .gallery__slide_inner {
    bottom: 10px;
    padding: 6px 0;
  }
  :root {
    --swiper-navigation-size: 26px !important;
  }
  .gallery__text {
    line-height: 129%;
  }
  //blog
  .blog__btn {
    @include marginLR(6px);
  }
  .blog__img {
    height: 200px;
  }
}
