@import "variables", "mixins";
//font
@font-face {
  font-family: "Butler";
  font-style: normal;
  font-weight: 400;
  src: local("Butler Regular"), url("../fonts/Butler_Regular.woff") format("woff");
}
@font-face {
  font-family: "Butler";
  font-style: normal;
  font-weight: 300;
  src: local("Butler Light"), url("../fonts/Butler_Light.woff") format("woff");
}
@font-face {
  font-family: "Butler";
  font-style: normal;
  font-weight: 500;
  src: local("Butler Medium"), url("../fonts/Butler_Medium.woff") format("woff");
}
//general
* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-family: "Lato", sans-serif;
  color: $darkGray;
}
.container {
  max-width: 1200px;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}
p {
  font-size: 1.6rem;
}
a,
button {
  transition: 0.2s;
  text-decoration: none;
}
.section__title,
.section__subtitle {
  text-align: center;
  color: $darkGray;
}
.section__title {
  font-size: 4.8rem;
  font-weight: 500;
  font-family: "Butler";
  margin-bottom: 30px;
}
//header
.header {
  background: url(../img/header-bg.webp) no-repeat center center;
  background-size: cover;
  color: #fff;
  padding-bottom: 260px;
}
.header__top {
  @include paddingsTB(20px);
}
.header__contacts {
  font-size: 1.4rem;
  svg {
    fill: #fff;
    @include widthHeight(16px);
    margin-right: 10px;
  }
}
.header__phone {
  margin-right: 20px;
}
.header__link {
  margin-left: 27px;
  svg {
    fill: #fff;
    width: 16px;
    height: 16px;
    transition: 0.3s;
    &:hover {
      fill: $primaryColor;
    }
  }
}
.nav__link {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #fff;
  margin-left: 44px;
  position: relative;
  font-weight: 700;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: 0.2s;
  }
  &:hover::after {
    width: 100%;
  }
}
.header__navigation {
  margin-bottom: 260px;
}
.header__title,
.header__subtitle {
  text-align: center;
}
.header__title {
  font-size: 6.4rem;
  font-weight: 500;
  font-family: "Butler";
}
.header__subtitle {
  margin-bottom: 50px;
}
.header__btn {
  @include marginLR(15px);
  @include button(180px, 48px, transparent);
  @include fontProps(1.4rem, 500, #fff);
  text-transform: uppercase;
  border: 1px solid #fff;
  &:hover {
    background-color: $primaryColor;
    border-color: $primaryColor;
  }
}
.header__btn_video {
  background-color: $primaryColor;
  border-color: $primaryColor;
  span {
    position: relative;
    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      left: -20px;
      top: 50%;
      transform: translateY(-50%);
      border: 7px solid transparent;
      border-left: 11px solid #fff;
    }
  }
}
//services
.services {
  @include paddingsTB(115px, 100px);
  background-image: linear-gradient(160deg, #fcfdf7 0%, #fcfdf7 48%, #fff 48%);
}
.services__subtitle {
  margin-bottom: 80px;
}
.services__icon {
  @include flexCenter;
  svg {
    width: 50px;
    height: 42px;
  }
}
.services__button {
  @include noBorder;
  @include marginLR(10px);
  cursor: pointer;
  background-color: transparent;
  border: none;
  width: 180px;
  padding-bottom: 30px;
}
.services__button.active,
.services__button:hover {
  background-color: #fff;
  box-shadow: 5px 5px 8px rgba($color: #3a3a3a, $alpha: 0.1),
    -5px 5px 8px rgba($color: #3a3a3a, $alpha: 0.1);
}
.services__icon {
  @include flexCenter;
  height: 130px;
  svg {
    fill: $darkGray;
  }
}
.services__btn_text {
  font: 500 1.8rem "Butler";
  text-transform: uppercase;
}
.services__items {
  margin-top: 60px;
}
.services__img {
  width: 100%;
  max-width: 630px;
  height: 380px;
  box-shadow: 20px 20px 0 $primaryColor;
  img {
    @include widthHeight(100%);
    object-fit: cover;
  }
}
.services__item_right {
  @include flexCenter;
}
.services__h3 {
  font: 500 2.4rem "Butler";
  margin-bottom: 30px;
}
.services__text {
  line-height: 156%;
  margin-bottom: 40px;
}
.services__link {
  @include fontProps(1.8rem, 500, $primaryColor);
  text-transform: uppercase;
  position: relative;
  &::after {
    content: "\2192";
    position: absolute;
    color: $primaryColor;
    font-size: 1.8rem;
    top: 40%;
    right: -30px;
    transform: translateY(-50%);
    pointer-events: none;
  }
}
//gallery
.gallery {
  overflow: hidden;
}
.gallery__slide {
  @include widthHeight(100%, 620px);
  position: relative;
  background-color: #000;
}
.gallery__img {
  @include widthHeight(100%);
  object-fit: cover;
  opacity: 0.75;
}
